<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Canadian Employment</title>
     <link rel="stylesheet" type="text/css" href="static/style.css">
      </head>
          <body>
            <h1 align="center"  style="font-size:50px;" >Canadian employment by category</h1>
              <div class="twosides">
                <div class="leftside">
                  <img src="static/Toronto.mp4"  style="width:auto;height:350px;" align="center" hspace="70" vspace="35"/>
                    <br><br/>
                      </div>
                  <div class="rightside">
                <form action = "/result" method="POST" >
              <h4>Enter Occupation to see number of employed people <br/></h4>
            <p>National Occupational Classification (NOC):
              <select name="occupation" style="font-family: candara;" required>
              <option value="Management occupations">Management</option>
              <option value="Senior management occupations">Senior management</option>
              <option value="Specialized middle managemen occupations">Specialized middle management</option>
              <option value="Middle management occupations in retail and wholesale">Middle management in retail and wholesale</option>
              <option value="Middle management occupations in trades, transportation, production and utilities">Middle management in trades, transportation, production and utilities</option>
              <option value="Business, finance and administration occupations">Business, finance and administrative</option>
              <option value="Administrative and financial supervisors occupations">Administrative and financial administrative</option>
              <option value="Finance, insurance and related business administrative occupations">Finance, insurance business administrative</option>
              <option value="Office support occupations">Office support</option>
              <option value="Distribution, tracking and scheduling co-ordination occupations">Distribution, tracking and scheduling co-ordination</option>
              <option value="Natural and applied sciences and related occupations">Natural and applied sciences</option>
              <option value="Professional occupations in natural and applied sciences">Professionals in natural and applied sciences</option>
              <option value="Technical occupations related to natural and applied sciences">Technitians in natural and applied sciences</option>
              <option value="Health occupations">Health occupations</option>
              <option value="Professional occupations in nursing">Professionals in nursing</option>
              <option value="Professional occupations in health (except nursing)">Professionals in health (except nursing)</option>
              <option value="Technical occupations in health">Technitians in health</option>
              <option value="Assisting occupations in support of health services">Assistanse in support of health services</option>
              <option value="Occupations in education, law and social, community and government services">Community and government services</option>
              <option value="Professional occupations in education services">Professionals in education services</option>
              <option value="Professional occupations in law and social, community and government services">Professionals in law and social services</option>
              <option value="Paraprofessional occupations in legal, social, community and education services">Paraprofessionals in legal, social, community and education services</option>
              <option value="Occupations in front-line public protection services">Front-line public protection services</option>
              <option value="Care providers and educational, legal and public protection support occupations">Care providers and educational, legal and public protection support</option>
              <option value="Occupations in art, culture, recreation and sport">Occupations in art, culture, recreation and sport</option>
              <option value="Professional occupations in art and culture">Professionals in art and culture</option>
              <option value="Technical occupations in art, culture, recreation and sport">Technitians in art, culture, recreation and sport</option>
              <option value="Sales and service occupations">Sales and service</option>
              <option value="Retail sales supervisors and specialized sales occupations">Specialized and retail supervisors</option>
              <option value="Service supervisors and specialized service occupations">Service supervisors and specialized service</option>
              <option value="Sales representatives and salespersons - wholesale and retail trade">Sales representatives and salespersons - wholesale and retail trade</option>
              <option value="Service representatives and other customer and personal services occupations">Service representatives and other customer and personal services</option>
              <option value="Sales support occupations">Sales support</option>
              <option value="Service support and other service occupations, n.e.c.">Service support</option>
              <option value="Trades, transport and equipment operators and related occupations">Trades, transport and equipment operators</option>
              <option value="Industrial, electrical and construction trades">Industrial, electrical and construction trades</option>
              <option value="Maintenance and equipment operation trades">Maintenance and equipment operation trades</option>
              <option value="Other installers, repairers and servicers and material handlers">Installers, repairers and servicers and material handlers</option>
              <option value="Transport and heavy equipment operation and related maintenance occupations">Transport and heavy equipment operation and related maintenance</option>
              <option value="Trades helpers, construction labourers and related occupations">Trades helpers, construction labourers</option>
              <option value="Natural resources, agriculture and related production occupations">Natural resources, agriculture</option>
              <option value="Supervisors and technical occupations in natural resources, agriculture and related production">Supervisors and technitians in natural resources, agriculture</option>
              <option value="Workers in natural resources, agriculture and related production">Workers in natural resources, agriculture and related production</option>
              <option value="Harvesting, landscaping and natural resources labourers">Harvesting, landscaping and natural resources labourers</option>
              <option value="Occupations in manufacturing and utilities">Occupations in manufacturing and utilities</option>
              <option value="Processing, manufacturing and utilities supervisors and central control operators">Processing, manufacturing and utilities supervisors and central control operators</option>
              <option value="Processing and manufacturing machine operators and related production workers">Processing and manufacturing machine operators and related production workers</option>
              <option value="Assemblers in manufacturing">Assemblers in manufacturing</option>
              <option value="Labourers in processing, manufacturing and utilities">Labourers in processing, manufacturing and utilities</option>
            </select></p>
                          <p>Age group(1 - 15 - 24 years old, 2 - 25-55 years old, 3 - over 55 years old ):<input name="age_group" required type="number" placeholder="4"
                            style ="font-family: candara; width:10%; padding: 5px 8px;margin: 5px 0; box-sizing: border-box;">
                          </p>
                          <p>Gender:<br>
                              <input type="radio" name="gender" id="Female" value="True" required/>
                              <label style="font-size: 13px; font-family:candara;">1</label><br />
                              <input type="radio" name="gender" id="Male" value="False" required/>
                              <label style="font-size: 13px;font-family:candara;">0</label><br />
                            </p>
                           <p>Type of work:
                                <select name="fulltime_parttime" style="font-family: candara;">
                                  <option value = "fulltime_parttime">Fulltime</option>
                                  <option value = "fulltime_parttime">Parttime</option>
                                </select>
                             </p>
                        <p><input type ="submit" value="Submit" style="background-color:rgba(214, 214, 194, 0.2); padding: 5px; width: 10px;
                            height:30px; width: 80px; color:black; text-size:24; font-weight: bold; border:none;font-family: candara;"/>
                        </p>
                  </form>
                </div>
              <div>
          </div>
    </div>
  </body>
</html>
